@model PayCal_MVC.Models.TempViewModel
@{
    ViewData["Title"] = "Temporary Employee";
}
<h2>Permanent Employee by ID</h2>
<div class="card">
    <br><code>@Html.DisplayTextFor(model => model.Employee)</code><br>
</div>

<div class="column">
    <div class="cards">
        <a class="buttons" id="TempEmployeesBtn" asp-area="" asp-controller="Temp" asp-action="Employees">
            <button id="back_btn">Back</button>
        </a>
    </div>
</div>
