@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<script src="js/site.js" asp-append-version="true"></script>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PayCal MVC</title>
        <link rel="stylesheet" href="css/site.css" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    </head>
    <body>
       

        <div class="card">
            <h2>Output Window</h2>
        </div>
    </body>
</html>
