@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Deleted Permanent Employee";
}
<h2>Permanent Employee by ID</h2>
<div class="card">
    <br><code>@ViewData["PermDeleted"]</code>
    <code>Employee with ID @ViewData["PermDeletedid"] has been deleted.</code><br>
</div>

<div class="column">
    <div class="cards">
        <a class="buttons" id="TempEmployeesBtn" asp-area="" asp-controller="Perm" asp-action="Employees">
            <button id="back_btn">Back</button>
        </a>
    </div>
</div>