@model PayCal_MVC.Models.PermViewModel
@{
    ViewData["Title"] = "Deleted Permanent Employee";
}
<h2>Permanent Employee by ID</h2>
<div class="card">
    <br><code>@Html.DisplayTextFor(model => model.Deleted)</code>
    <code>Employee with ID @Html.DisplayTextFor(model => model.DeletedID) has been deleted.</code><br>
</div>

<div class="column">
    <div class="cards">
        <a class="buttons" id="TempEmployeesBtn" asp-area="" asp-controller="Perm" asp-action="Employees">
            <button id="back_btn">Back</button>
        </a>
    </div>
</div>