@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Permanent";
}
<h2>Permanent Employee Management</h2>
<div class="card">
    <code id="outputWindow" style="white-space: pre-line">@ViewData["permList"]</code><br>
</div>

<div class="column">
    <div class="cards">
        <button class="menubtn" id="GetEmployee_Btn" onclick="getEmployeeBtn()">Get Employee</button>
    </div>
    <input type="text" id="employeeID" name="employeeID" placeholder="Employee ID" style="display: none; width: 8rem">
    <div class="cards">
        <button class="submitbtn" id="GetEmployee_submit_Btn" onclick="getEmployeeSubmitBtn()" style="display: none; width: 8rem">Submit</button>
    </div>
</div>

<div class="column">
    <div class="cards">
        <button class="menubtn" id="payCalculator_btn" onclick="payCalculator()">Pay Calculator</button>
    </div>
</div>

<div class="column">
    <div class="cards">
        <button class="menubtn" id="addEmployee_btn" onclick="addEmployee_getinfo()">Add Employee</button>
    </div>
</div>

<div class="column">
    <div class="cards">
        <button class="menubtn" id="addEmployee_btn" onclick="EditEmployee_getinfo()">Edit Employee</button>
    </div>
</div>

<div class="column">
    <div class="cards">
        <button class="menubtn" id="Refresh_btn" onclick="Refresh()">Refresh</button>
    </div>
</div>
