@{
    ViewData["Title"] = "Home Page";
}
<h2>Home</h2>
<div class="card">
    <h3>Permanent Employees</h3>
    <code style="white-space: pre-line">@ViewData["permList"]</code><br><br>
    <h3>Temporary Employees</h3>
    <code style="white-space: pre-line">@ViewData["tempList"]</code><br><br>
    <p>Total Employees: @ViewData["Count"]</p>
</div>