@model PayCal_MVC.Models.TempViewModel
@{
    ViewData["Title"] = "Updated Temporary Employee";
}
<h2>Updated Temporary Employee</h2>

<div class="cardSingle" id="outputTablePerm">
    <table>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Day Rate</th>
        <th>Weeks Worked</th>
        </tr>
        <tr>
            <td>@Model.Updated.EmployeeID</td>
            <td>@Model.Updated.FName @Model.Updated.LName</td>
            <td>£@Model.Updated.DayRateint</td>
            <td>@Model.Updated.WeeksWorkedint</td>
        </tr>
    </table>
</div>

<div class="cardsBackBtn">
    <a class="buttons" id="TempEmployeesBtn" asp-area="" asp-controller="Temp" asp-action="Employees">
        <button id="back_btn">Back</button>
    </a>
</div>
