@model PayCal_MVC.Models.TempViewModel
@{
    ViewData["Title"] = "Temporary Employees";
    if (Model.Employees is null)
    {
        throw new Exception("Model.Employees for Temp is null");
    }
    var notnullEmployees = Model.Employees ?? new List<PayCal.Models.TempEmployeeData>();
}

<h2 class="h2Index">Temporary Employee Management</h2>

<form class="searchbox" role="search" asp-controller="Temp" asp-action="Search" asp-route-id="searchString" method="get">
    <input required name="searchString" type="search" placeholder="Search..."/>
    <button type="submit" value="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>

<div class="card" id="outputTableTemp">
    @if (notnullEmployees.Count == 0)
    {
        <p>No Permanent Employees found</p>
        <a asp-area="" asp-controller="Temp" asp-action="Employees">
            Go Back
        </a>
    }

    @if (notnullEmployees.Count > 0)
    {
            <table>
            <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Day Rate</th>
            <th>Weeks Worked</th>
            </tr>
            @foreach (var item in notnullEmployees)
            {<tr>
                <td>@item.EmployeeID</td>
                <td>@item.FName @item.LName</td>
                <td>£@item.DayRateint</td>
                <td>@item.WeeksWorkedint</td>
                            <td>
                    <a asp-area="" asp-controller="Temp" asp-action="Employee" asp-route-id=@item.EmployeeID>
                        <i class="fa-solid fa-user" alt="Get Employee" title="Get Employee"></i>
                    </a>
                </td>
                <td>
                    <a asp-area="" asp-controller="Temp" asp-action="PayCal" asp-route-id=@item.EmployeeID>
                        <i class="fa-solid fa-calculator" alt="Calculate income after tax" title="Calculate income after tax"></i>
                    </a>
                </td>
                <td>
                    <a asp-area="" asp-controller="Temp" asp-action="EditForm" asp-route-id=@item.EmployeeID>
                        <i class="fa-solid fa-pen" alt="Edit Employee" title="Edit Employee"></i>
                    </a>
                </td>
                <td>
                    <a asp-area="" asp-controller="Temp" asp-action="Delete" asp-route-id=@item.EmployeeID>
                        <i class="fa-solid fa-trash" id="trashIcon" alt="Delete Employee" title="Delete Employee"></i>
                    </a>
                </td>
            </tr>}
        </table>
    }
</div>

<div class="column">
    <a asp-area="" asp-controller="Temp" asp-action="CreateForm">
        <div class="cards">
            <button class="menubtn" id="addEmployee_btn" onclick="ShowMenu_AddEmployeeBtn()">Add Employee</button>
        </div>
    </a>
</div>