@model PayCal_MVC.Models.PermViewModel
@{
    ViewData["Title"] = "Create Permanent Employee";
}
<h2>Create Permanent Employee</h2>

<form id="Create_form" asp-controller="Perm" asp-action="Create" method="post">
    <input type="text" name="fname" pattern="[A-Za-z]+" placeholder="First Name" required/>
    <input type="text" name="lname" pattern="[A-Za-z]+" placeholder="Last Name" required/>
    <input type="number" name="salary" min="0" placeholder="Salary" required/>
    <input type="number" name="bonus" min="0" placeholder="Bonus" required/>
    <input type="submit" value="Create"/>
</form>

<div class="cardsBackBtn">
    <a class="buttons" id="PermEmployeesBtn" asp-area="" asp-controller="Perm" asp-action="Employees">
        <button id="back_btn">Back</button>
    </a>
</div>