@model PayCal_MVC.Models.PermViewModel
@{
    ViewData["Title"] = "Permanent Employee";
}
<h2>Permanent Employee by ID</h2>

<div class="card" id="outputTablePerm">
    <table>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Bonus</th>
        </tr>
        <tr>
            <td>@Model.PayCalDetails.EmployeeID</td>
            <td>@Model.PayCalDetails.FName @Model.PayCalDetails.LName</td>
            <td>£@Model.PayCalDetails.Salaryint</td>
            <td>£@Model.PayCalDetails.Bonusint</td>
        </tr>
    </table>
    <br>
    <code>Total annual pay after tax: £@Model.PayCalculated</code>
</div><br>

<div class="column">
    <div class="cards">
        <a class="buttons" id="PermEmployeesBtn" asp-area="" asp-controller="Perm" asp-action="Employees">
            <button id="back_btn">Back</button>
        </a>
    </div>
</div>