<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PayCal_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PayCal_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
@*    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PayCal_MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@

     <header>
        <h1>PayCal MVC Demonstration</h1>
        <h4>Using .NET 6 with ASP.NET</h4>
    </header>

     <div class="row">
            <div class="column">
                <div class="cards">
                    <div class="buttons" id="GetEmployees">
                        <button id="GetEmployees_btn" onclick="getEmployees()">Get Employees</button>
                        <p id="heading1" style="display: none">Permanent Employees:</p>
                        <code id="permEmployeesOutput" style="white-space: pre-line"></code>
                        <p id="heading2" style="display: none">Temporary Employees:</p>
                        <code id="tempEmployeesOutput" style="white-space: pre-line"></code>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="cards">
                    <div class="buttons" id="PayCalculator">
                        <button id="payCalculator_btn" onclick="payCalculator()">Pay Calculator</button>
                        <input type="text" id="employeeID" name="employeeID" placeholder="Employee ID" style="display: none; width: 8rem"></code>
                        <button id="Calculator_btn" onclick="Calculator()" style="display: none;">Calculate</button>
                        <code id="payCalculatorOutput" style="white-space: pre-line"></code>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="cards">
                    <div class="buttons" id="AddEmployee">
                        <button id="addEmployee_btn" onclick="addEmployee_getinfo()">Add Employee</button>
                        <div id="fields" style="display: none">
                            <p>Please select employment type:</p>
                            <form id="is_permForm">
                                <input type="radio" id="perm" name="is_perm" onchange="addEmployee_perm()" value=true>
                                <label for="perm">Permanent</label><br>
                                <input type="radio" id="temp" name="is_perm" onchange="addEmployee_temp()" value=false>
                                <label for="temp">Temporary</label><br><br>
                            </form>

                            <input type="text" id="fname" name="fname" placeholder="First Name"><br><br>
                            <input type="text" id="lname" name="lname" placeholder="Last Name"><br><br>
                            <div id="perm_fields" style="display: none">
                                <input type="text" id="salary" name="salary" placeholder="Salary"><br><br>
                                <input type="text" id="bonus" name="bonus" placeholder="Bonus"><br><br>
                            </div>
                            <div id="temp_fields" style="display: none">
                                <input type="text" id="dayrate" name="dayrate" placeholder="Day Rate"><br><br>
                                <input type="text" id="weeksworked" name="weeksworked" placeholder="Weeks Worked"><br><br>
                            </div>
                            <button id="submitEmployee_btn" onclick="submitEmployee()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="cards">
                    <div class="buttons" id="DeleteEmployee">
                        <button id="deleteEmployee_btn" onclick="deleteEmployeeBtn()">Delete Employee</button>
                        <input type="text" id="employeeID4delete" name="employeeID" placeholder="Employee ID" style="display: none; width: 8rem"></code>
                        <button id="Delete_btn" onclick="deleteEmployee()" style="display: none;">Delete</button>
                    </div>
                </div>
            </div>
        </div><br><br>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">&copy; TPR Training 2022 - PayCal by Alex Beesley; Source code on Github: 
            <a href="https://github.com/DABeesleyTPR/PayCal_API" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
