html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

header {
    font-family: Ubuntu;
    padding: 30px;
}

footer {
    font-family: Ubuntu;
    position: fixed;
    bottom: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

.buttons {
    padding-left: 30px;
    font-family: Ubuntu;
}

input[type=text], input[type=password] {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Ubuntu;
}

button {
    border-radius: 15px;
    background-color: #2d19af5e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    font-family: Ubuntu;
}

    button:hover {
        opacity: 0.8;
    }

/*grid layout*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.cards {
    padding: 16px;
    text-align: center;
    font-family: Ubuntu;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: left;
    background-color: #ffffff4f;
    font-family: Ubuntu;
}
